<h3>Listing categories</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.color %></td>
    <td><%= link_to 'Show', category %></td>
  </tr>
<% end %>
</table>

