<div id="featured-products">

  <h3 class="featured-products-title">Categories</h3>

  <ul class="featured-product">
    <% @categories.each do |category| %>
      <li class="item-category" style="background-color:<%= category.color %>;">
          <%= link_to "#{category.name}", products_path(category_id: category.id) %>
      </li>
    <% end %>
  </ul>

</div>

