<div id="featured-products">

  <h3 class="featured-products-title">Categories</h3>

  <ul class="featured-product">
    <% @categories.each do |category| %>
      <%= category_link(category) %>
    <% end %>
  </ul>

</div>

