
<div id="featured-products">
  <h3 class="featured-products-title">Products in category <strong><%= @category.name%></strong></h3>
  <%= render 'products/products_table' %>
</div>


<%= link_to 'Back', categories_path %>
