<p id="notice"><%= notice %></p>

<h3>Category details</h3>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Color:</b>
  <%= @category.color %>
</p>


<%= link_to 'Back', categories_path %>
